<html lang="ru">
<head>
  	{% block title %}{% endblock %}
  	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../static/css/style.css">
	<link rel="stylesheet" href="../static/css/zerogrid.css">
	<link rel="stylesheet" href="../static/css/responsive.css">
	<script src="../static/js/css3-mediaqueries.js"></script>
    <script src="../static/js/jquery-1.7.1.min.js"></script>
    <script src="../static/js/superfish.js"></script>
    <script src="../static/js/jquery.easing.1.3.js"></script>
    <script src="../static/js/tms-0.4.1.js"></script>
    <script src="../static/js/slider.js"></script>
</head>
<body>
{% block body %}{% endblock %}
</body>
</html>