<header>
    	<div class="inner">
            <h1 class="logo"><a href="/">AgroPlus - Agriculture company</a></h1>
            <nav>
                <ul class="sf-menu">
                    <li><a href="/">home</a></li>
                    <li><a href="/products">products</a></li>
                    <li>
                    	<a href="/technology">technology</a>
                    </li>
                    <li><a href="/pricing">pricing</a></li>
                    <li><a href="/contacts">contacts</a></li>
                </ul>
            </nav>
        </div>
</header>